html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: " ";
  content: none; }

:focus {
  outline: 0; }

*:before {
  padding: 0;
  margin: 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.is-hidden {
  display: none; }

html, body {
  height: 100%; }

.page-wrap {
  margin-bottom: -3em;
  min-height: 100%; }
  @media screen and (max-width: 770px) {
    .page-wrap {
      margin-bottom: -2rem !important; } }

.page-wrap:after {
  display: block;
  content: "";
  z-index: -1; }

footer, .page-wrap:after {
  height: 3em; }
  @media screen and (max-width: 770px) {
    footer, .page-wrap:after {
      height: 2rem; } }

footer {
  padding: 1rem; }
  @media screen and (max-width: 770px) {
    footer {
      padding: 0.5rem 1rem !important; } }

@font-face {
  font-family: "Work Sans";
  src: url("../../global/fonts/WorkSans-Regular.woff") format("woff"), url("../../global/fonts/WorkSans-Regular.ttf") format("truetype");
  font-weight: regular;
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Work Sans";
  src: url("../../global/fonts/WorkSans-Light.woff") format("woff"), url("../../global/fonts/WorkSans-Light.ttf") format("truetype");
  font-weight: lighter;
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Work Sans";
  src: url("../../global/fonts/WorkSans-SemiBold.woff") format("woff"), url("../../global/fonts/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-weight: 600;
  font-style: normal; }
body {
  font-weight: 400;
  font-family: Work Sans, Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5 {
  margin-bottom: .5em;
  line-height: 1.25; }

h1 {
  font-size: 3em;
  font-weight: 300; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.75em; }

h5 {
  font-size: 1.5em; }

p {
  line-height: 1.5em; }
  p + p {
    margin-top: 1rem; }

.subtitle {
  font-size: 1.25em;
  color: #959EA5; }

a {
  color: #4A90E2;
  text-decoration: none; }

.scroll-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden; }

.scroll-content {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none; }

.iScrollVerticalScrollbar[style] {
  width: .5rem !important;
  background-color: #e8eaeb;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important; }

.iScrollIndicator[style] {
  border-radius: 0 !important;
  border: 0 !important; }

.menu-button {
  font-size: 1em;
  display: inline-block;
  text-align: center;
  z-index: 2; }
  .menu-button:hover {
    cursor: pointer; }

.menu-toggle, .menu-toggle:before, .menu-toggle:after {
  width: 2em;
  background-color: #212223;
  height: .3em;
  display: inline-block;
  border-radius: .3em; }

.menu-toggle {
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .menu-toggle:before, .menu-toggle:after {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .menu-toggle:before {
    top: 1.25em; }
  .menu-toggle:after {
    top: .625em; }

.checkbox-toggle:checked ~ header .menu-button .menu-toggle {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: .625em; }
  .checkbox-toggle:checked ~ header .menu-button .menu-toggle:after {
    opacity: 0; }
  .checkbox-toggle:checked ~ header .menu-button .menu-toggle:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0; }

.banner-city .menu-toggle, .banner-city .menu-toggle:before, .banner-city .menu-toggle:after {
  background-color: white; }

aside {
  position: relative;
  overflow: hidden;
  min-width: 18em;
  max-width: 25em;
  padding: 0 0 0 1rem;
  width: 33%;
  background-color: white;
  -webkit-transition: all .6s linear;
          transition: all .6s linear;
  height: calc(100vh - 8rem);
  border-right: 1px solid #959EA5; }
  @media screen and (max-width: 770px) {
    aside {
      position: absolute;
      z-index: 99999;
      max-width: 100%;
      width: 80%;
      height: calc(100vh - 8rem + 2rem);
      left: -150%; } }
  aside .scroll-area {
    position: relative;
    height: calc(60% - 4rem); }
    aside .scroll-area:last-of-type {
      height: calc(40% - 4rem); }
  aside h2 {
    padding: 1rem 0 0.5rem;
    margin: 0;
    font-size: 2rem; }

.menu-button {
  display: none;
  height: 2.5em;
  padding: 0 .5em;
  margin-bottom: 0;
  position: relative;
  top: -1em; }
  @media screen and (max-width: 770px) {
    .menu-button {
      display: inline-block; } }

.checkbox-toggle {
  position: absolute;
  left: -999em; }

.checkbox-toggle:checked ~ .main-content aside {
  left: 0; }

.chart {
  width: 100%;
  height: 16em;
  margin-bottom: 2rem; }

header {
  padding: 1rem;
  height: 5rem;
  border-bottom: 1px solid #959EA5; }
  @media screen and (max-width: 770px) {
    header {
      height: 4rem; } }

.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

main {
  padding: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.candidate-list h1 {
  font-size: 1.5em; }
.candidate-list li {
  overflow: auto;
  margin-bottom: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer; }

.candidate-image {
  height: 3em;
  width: 3em;
  margin-bottom: 0.5rem;
  border-radius: .25em;
  margin-right: 0.5rem; }

.candidate-name {
  margin-bottom: 0.25rem;
  overflow: auto;
  line-height: 1.25; }

.candidate-site {
  font-size: .75rem;
  line-height: 1.25; }

.party {
  display: inline-block;
  color: white;
  padding: .25em .5em;
  margin-bottom: 0.25rem;
  float: left;
  line-height: 1.25;
  border-radius: .25em;
  font-size: 1rem;
  font-weight: 400;
  margin-right: .5em; }
  .party.dem {
    background: #4A90E2; }
    .party.dem:before {
      content: "D"; }
  .party.gop {
    background: #FE3D42; }
    .party.gop:before {
      content: "R"; }

.issue-list li {
  margin-bottom: 1rem;
  font-size: 1.25em; }

.selected-candidates li {
  display: inline-block;
  margin-right: 0.5rem;
  position: relative; }
  .selected-candidates li:hover:after {
    content: attr(data-candidate-name);
    position: absolute;
    display: block;
    bottom: -50%; }

footer {
  border-top: 1px solid #959EA5; }

.checkbox-list input[type="checkbox"] {
  position: absolute;
  left: -999em; }

.checkbox {
  cursor: pointer; }
  .checkbox:before {
    position: relative;
    top: .125em;
    display: inline-block;
    margin-right: .3em;
    width: 1em;
    height: 1em;
    background-image: url("../images/icons/check_box_outline_blank.svg");
    background-size: contain;
    content: ""; }
  input:checked ~ .checkbox:before {
    background-image: url("../images/icons/check_box.svg"); }

.candidate-label {
  position: relative;
  display: block;
  float: left;
  overflow: auto; }
  input:checked ~ .candidate-label:before {
    position: absolute;
    display: inline-block;
    width: 2em;
    height: 2em;
    top: .5em;
    left: .5em;
    background-image: url("../images/icons/check.svg");
    background-size: contain;
    content: " ";
    z-index: 10; }
  input:checked ~ .candidate-label .candidate-image {
    -webkit-filter: blur(1px);
            filter: blur(1px);
    opacity: .7; }
