html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: " ";
  content: none; }

:focus {
  outline: 0; }

*:before {
  padding: 0;
  margin: 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.is-hidden {
  display: none; }

html, body {
  height: 100%; }

.page-wrap {
  margin-bottom: -3em;
  min-height: 100%; }
  @media screen and (max-width: 770px) {
    .page-wrap {
      margin-bottom: -2rem !important; } }

.page-wrap:after {
  display: block;
  content: "";
  z-index: -1; }

footer, .page-wrap:after {
  height: 3em; }
  @media screen and (max-width: 770px) {
    footer, .page-wrap:after {
      height: 2rem; } }

footer {
  padding: 1rem; }
  @media screen and (max-width: 770px) {
    footer {
      padding: 0.5rem 1rem !important; } }

body {
  font-weight: 400;
  font-family: Work Sans, Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5 {
  margin-bottom: .5em;
  line-height: 1.25; }

h1 {
  font-size: 3em;
  font-weight: 300; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.75em; }

h5 {
  font-size: 1.5em; }

p {
  line-height: 1.5em; }
  p + p {
    margin-top: 1rem; }

.subtitle {
  font-size: 1.25em;
  color: #959EA5; }

a {
  color: #4A90E2;
  text-decoration: none; }

.menu-button {
  font-size: 1em;
  display: inline-block;
  text-align: center;
  z-index: 2; }
  .menu-button:hover {
    cursor: pointer; }

.menu-toggle, .menu-toggle:before, .menu-toggle:after {
  width: 2em;
  background-color: #212223;
  height: .3em;
  display: inline-block;
  border-radius: .3em; }

.menu-toggle {
  position: relative;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s; }
  .menu-toggle:before, .menu-toggle:after {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s; }
  .menu-toggle:before {
    top: 1.25em; }
  .menu-toggle:after {
    top: .625em; }

.checkbox-toggle:checked ~ header .menu-button .menu-toggle {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: .625em; }
  .checkbox-toggle:checked ~ header .menu-button .menu-toggle:after {
    opacity: 0; }
  .checkbox-toggle:checked ~ header .menu-button .menu-toggle:before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0; }

.banner-city .menu-toggle, .banner-city .menu-toggle:before, .banner-city .menu-toggle:after {
  background-color: white; }

aside {
  position: relative;
  overflow: auto;
  width: 16em;
  padding: 0  0  0 0;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  background-color: white;
  -webkit-transition: all .6s linear;
  transition: all .6s linear;
  height: calc(100vh - (7rem));
  border-right: 1px solid #959EA5; }
  @media screen and (max-width: 770px) {
    aside {
      position: absolute;
      z-index: 99999;
      width: 80%;
      max-width: 16em;
      height: calc(100vh - 7rem + 3rem);
      left: -18em; } }
  aside .scroll-area {
    position: relative;
    height: calc(100% - 5rem); }
  aside h2 {
    padding: 0.5rem 1rem 0.25rem;
    margin: 0;
    font-size: 1.75rem; }
    aside h2 + div {
      color: #959EA5;
      padding-left: 1rem;
      font-size: .875rem;
      margin-bottom: 0.75rem; }

.menu-button {
  display: none;
  height: 2.5em;
  padding: 0 .5em;
  margin-bottom: 0;
  position: relative;
  top: -1em; }
  @media screen and (max-width: 770px) {
    .menu-button {
      display: inline-block; } }

.checkbox-toggle {
  position: absolute;
  left: -999em; }

.checkbox-toggle:checked ~ .main-content aside {
  left: 0; }

.chart {
  margin-bottom: 1rem;
  width: 100%;
  height: 24em; }

header {
  padding: 1rem;
  height: 4rem;
  border-bottom: 1px solid #959EA5;
  background-color: white; }
  @media screen and (max-width: 770px) {
    header {
      padding: 1rem 0.5rem;
      height: 4rem; } }
  header h1 {
    margin: 0;
    font-size: 2rem; }
    @media screen and (max-width: 770px) {
      header h1 {
        display: inline-block;
        font-size: 1.25rem; } }
    header h1:before {
      margin-right: .3em;
      color: #FE3D42;
      content: "\2605"; }

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: white; }

.main-scroll-area {
  position: relative;
  overflow: auto;
  padding: 1rem;
  height: calc(100vh - (7rem));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }
  @media screen and (max-width: 770px) {
    .main-scroll-area {
      height: 100vh; } }

main {
  position: relative; }
  @media screen and (max-width: 770px) {
    main h2 {
      font-size: 1.5rem; } }
  main.alone {
    height: inherit; }

section {
  padding: 0 1rem; }
  @media screen and (max-width: 770px) {
    section {
      padding: 0 0.5rem; } }
  section p {
    font-size: .875rem;
    line-height: 1.25; }
  section:first-child {
    margin-top: 1rem; }
  section:last-of-type {
    margin-bottom: 2rem; }

.candidate-list {
  margin-bottom: 1.5rem; }
  .candidate-list li {
    overflow: hidden;
    padding: 0.75rem 1rem;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #dadde0; }
    .candidate-list li:last-child {
      border-bottom: 0; }
  @media screen and (max-width: 770px) {
    .candidate-list {
      margin-bottom: 6rem; } }

.candidate-image {
  border-radius: 0px .25em .25em 0px; }

.candidate-name {
  overflow: auto;
  font-size: 1rem;
  line-height: 1.15; }

.candidate-site {
  font-size: .875rem;
  line-height: 1.25; }

.party {
  display: inline-block;
  font-size: .75rem; }
  .party.dem {
    color: #14457f; }
    .party.dem:before {
      content: "\2605 \0020 Democrat"; }
  .party.gop {
    color: #a10105; }
    .party.gop:before {
      content: "\2605 \0020 Republican"; }

.issue-list li {
  margin-bottom: 0.5rem;
  font-size: 1em; }

footer {
  border-top: 1px solid #959EA5;
  background-color: white; }

.selected-candidates {
  padding: 0 1rem;
  overflow: auto; }
  @media screen and (max-width: 770px) {
    .selected-candidates {
      padding: 0 0.5rem;
      margin-bottom: 8rem; } }
  .selected-candidates li {
    margin-bottom: 1rem;
    padding: 0.5rem 0 1rem;
    position: relative;
    overflow: auto;
    float: left;
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 48.8211739883%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .selected-candidates li:last-child {
      margin-right: 0; }
    .selected-candidates li:nth-child(2n) {
      margin-right: 0; }
    .selected-candidates li:nth-child(2n+1) {
      clear: left; }
    .selected-candidates li:not(:last-of-type):not(:nth-last-of-type(2)) {
      border-bottom: 1px solid #dadde0; }
    @media screen and (max-width: 950px) {
      .selected-candidates li:nth-last-of-type(2) {
        border-bottom: 1px solid #dadde0; } }
    @media screen and (max-width: 600px) {
      .selected-candidates li {
        float: left;
        display: block;
        margin-right: 2.3576520234%;
        width: 100%;
        margin-right: 0; }
        .selected-candidates li:last-child {
          margin-right: 0; } }
  .selected-candidates [data-candidate-id="Obama"]:before,
  .selected-candidates [data-candidate-id="McCain"]:before,
  .selected-candidates [data-candidate-id="Romney"]:before {
    content: "2008";
    position: absolute;
    top: 4rem;
    width: 5rem;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center; }
    @media screen and (max-width: 950px) {
      .selected-candidates [data-candidate-id="Obama"]:before,
      .selected-candidates [data-candidate-id="McCain"]:before,
      .selected-candidates [data-candidate-id="Romney"]:before {
        font-size: .875rem;
        top: 4.5rem;
        width: 3rem;
        color: black;
        text-shadow: none; } }
  .selected-candidates [data-candidate-id="Obama"]:before,
  .selected-candidates [data-candidate-id="McCain"]:before {
    content: "2008"; }
  .selected-candidates [data-candidate-id="Romney"]:before {
    content: "2012"; }
  .selected-candidates .candidate-info, .selected-candidates .candidate-image {
    float: left; }
  .selected-candidates .candidate-image {
    height: 5em;
    width: 5em;
    margin-right: 0.75rem;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    border-radius: .25em .25em 0 0; }
    @media screen and (max-width: 950px) {
      .selected-candidates .candidate-image {
        height: 3em;
        width: 3em;
        float: left; } }
  .selected-candidates .party {
    font-size: .875rem;
    margin-left: .75em; }
  .selected-candidates .candidate-info {
    font-size: .875rem;
    line-height: 1.25;
    float: left;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    @media screen and (max-width: 950px) {
      .selected-candidates .candidate-info {
        max-width: 70%; } }
  .selected-candidates .candidate-name {
    font-size: 1.25rem;
    margin-bottom: 0.5rem; }
    @media screen and (max-width: 950px) {
      .selected-candidates .candidate-name {
        font-size: 1rem; } }
    .selected-candidates .candidate-name .party {
      position: relative;
      top: -.125em; }
      @media screen and (max-width: 950px) {
        .selected-candidates .candidate-name .party {
          font-size: .75rem; } }
  .selected-candidates .block {
    display: block; }
  .selected-candidates .icon {
    font-size: 1.25rem;
    top: .125rem;
    margin-bottom: 0.25rem; }
  .selected-candidates .candidate-number {
    margin-bottom: 0.25rem;
    color: #959EA5;
    padding: 0 0.5rem;
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 31.7615653177%; }
    .selected-candidates .candidate-number .number {
      font-size: 1.25rem;
      display: block;
      color: #3A3B3D; }
    .selected-candidates .candidate-number:last-child {
      margin-right: 0; }
    @media screen and (max-width: 770px) {
      .selected-candidates .candidate-number {
        float: left;
        display: block;
        margin-right: 2.3576520234%;
        width: 48.8211739883%;
        margin-right: 0;
        font-size: .75rem; }
        .selected-candidates .candidate-number:last-child {
          margin-right: 0; } }
  .selected-candidates .candidate-site {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 31.7615653177%;
    padding: 0 0.5rem;
    margin-bottom: 0.25rem; }
    .selected-candidates .candidate-site:last-child {
      margin-right: 0; }
    @media screen and (max-width: 950px) {
      .selected-candidates .candidate-site .block {
        display: inline-block; } }
    @media screen and (max-width: 950px) {
      .selected-candidates .candidate-site .block .icon {
        font-size: 1rem;
        top: .5em;
        margin-right: .3em; } }
    @media screen and (max-width: 950px) {
      .selected-candidates .candidate-site {
        float: left;
        display: block;
        margin-right: 2.3576520234%;
        width: 100%;
        margin-right: 0; }
        .selected-candidates .candidate-site:last-child {
          margin-right: 0; } }

.selected-candidates li {
  position: relative; }
  .selected-candidates li:after {
    content: " ";
    display: block;
    height: .75rem;
    width: 5rem;
    position: absolute;
    background-color: #1978B6;
    top: 5.5em;
    left: 0;
    border-radius: 0 0 .25em .25em; }
    @media screen and (max-width: 950px) {
      .selected-candidates li:after {
        top: 3.5em;
        width: 3em; } }
  .selected-candidates li:nth-of-type(10n + 1):after {
    background-color: #4791E5; }
  .selected-candidates li:nth-of-type(10n + 2):after {
    background-color: #FAA43A; }
  .selected-candidates li:nth-of-type(10n + 3):after {
    background-color: #60BD68; }
  .selected-candidates li:nth-of-type(10n + 4):after {
    background-color: #F17CB0; }
  .selected-candidates li:nth-of-type(10n + 5):after {
    background-color: #9C604B; }
  .selected-candidates li:nth-of-type(10n + 6):after {
    background-color: #B276B2; }
  .selected-candidates li:nth-of-type(10n + 7):after {
    background-color: #DECF3F; }
  .selected-candidates li:nth-of-type(10n + 8):after {
    background-color: #F15854; }
  .selected-candidates li:nth-of-type(10n + 9):after {
    background-color: #97C8D7; }
  .selected-candidates li:nth-of-type(10n + 10):after {
    background-color: #787875; }

.checkbox-list input[type="checkbox"] {
  position: absolute;
  left: -999em; }

.checkbox {
  cursor: pointer; }
  .checkbox:before {
    position: relative;
    top: .125em;
    display: inline-block;
    margin-right: .3em;
    width: 1em;
    height: 1em;
    background-image: url("../images/icons/check_box_outline_blank.svg");
    background-size: contain;
    content: ""; }
  input:checked + .checkbox:before {
    background-image: url("../images/icons/check_box.svg"); }

.candidate-label {
  position: relative;
  display: block;
  float: left;
  overflow: auto;
  margin-right: 0.5rem;
  padding: 0 0.25rem;
  height: 2rem;
  border-radius: .25em;
  background-color: #dadde0;
  cursor: pointer; }
  .candidate-label .candidate-image {
    position: relative;
    right: -.25em;
    width: 2rem;
    height: 2rem; }
  .candidate-label:before {
    z-index: 10;
    display: inline-block;
    margin: 0 0.25rem 0.5rem;
    width: 1em;
    height: 1em;
    background-image: url("../images/icons/check_box_outline_blank.svg");
    background-size: contain;
    content: " ";
    line-height: 1; }
  input:checked + .candidate-label {
    background-color: #4A90E2; }
    input:checked + .candidate-label:before {
      background-image: url("../images/icons/check-white.svg"); }

.dropped-out {
  position: relative; }
  .dropped-out * {
    opacity: .55; }

.dropped-out-ribbon {
  background-color: #959EA5;
  color: white; }

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
  width: 4em;
  height: 4em;
  z-index: 1; }

.ribbon-wrapper {
  position: absolute;
  overflow: hidden;
  width: 4em;
  height: 4em;
  opacity: 1; }
  .ribbon-wrapper * {
    opacity: 1; }

.ribbon {
  position: relative;
  top: 1em;
  left: -1.5em;
  padding: .125em 0;
  width: 8em;
  background-color: #959EA5;
  color: white;
  text-align: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1 !important;
  z-index: 100; }
  .ribbon:before, .ribbon:after {
    position: absolute;
    bottom: -.125em;
    content: ""; }
  .ribbon:before {
    left: 0; }
  .ribbon:after {
    right: 0; }

.c3 svg {
  font-size: .75em;
  font-family: Work Sans, Helvetica, Arial, sans-serif; }

.chart-buttons {
  margin: 1rem 0;
  text-align: center; }
  .chart-buttons li {
    display: inline-block; }
    .chart-buttons li:not(:last-child) {
      margin-right: 1rem; }
      @media screen and (max-width: 770px) {
        .chart-buttons li:not(:last-child) {
          margin-right: 0.25rem;
          margin-bottom: 0.5rem; } }
  @media screen and (max-width: 770px) {
    .chart-buttons button {
      font-size: .875rem; } }

button {
  padding: 0.25rem 0.5rem;
  border: 1px solid #4A90E2;
  border-radius: .15em;
  background-color: white;
  color: #4A90E2;
  font-size: 1.25em;
  line-height: 1.25;
  cursor: pointer; }
  button:hover {
    background-color: #e4eefb; }
  button.is-selected {
    background-color: #4A90E2;
    color: white; }

.back-link {
  display: inline-block;
  margin-bottom: 1.5rem; }

.list-bullets {
  margin: 1rem 0;
  padding-left: 2em;
  list-style: disc;
  font-size: .875rem;
  line-height: 1.25; }

p + h5 {
  margin-top: 1rem; }

.about-link {
  display: block;
  font-size: 1.5em;
  margin-bottom: 0.5rem; }
  @media screen and (max-width: 770px) {
    .about-link {
      font-size: 1.2rem; } }

.icon {
  position: relative;
  color: currentcolor;
  height: 1em;
  width: 1em; }
/*# sourceMappingURL=wordcounts.css.map */