.checkbox-list {
    
    input[type="checkbox"] {
        position: absolute;
        left: -999em;
    }    
}

.checkbox {
    cursor: pointer;
    
    &:before {
        position: relative;
        top: .125em;
        display: inline-block;
        margin-right: .3em;
        width: 1em;
        height: 1em;
        background-image: url("../images/icons/check_box_outline_blank.svg");
        background-size: contain;
        content: "";
    }
    
    input:checked + & {
        &:before {
            background-image: url("../images/icons/check_box.svg");
        }
    }
}

.candidate-label {
    $check-height: 2rem;
    
    position: relative;
    display: block;
    float: left;
    overflow: auto;
    margin-right: spacer(.5);
    padding:  0 spacer(.25);
    height:  $check-height;
    border-radius: .25em;
    background-color: lighten($info, 25%);
    cursor: pointer;
    
    .candidate-image {
        position: relative;
        right: -.25em;
        width:  $check-height;
        height:  $check-height;
    }

     &:before {
        z-index: 10;
        display: inline-block;
        margin: 0 spacer(.25) spacer(.5);
        width: 1em;
        height: 1em;
        background-image: url("../images/icons/check_box_outline_blank.svg");
        background-size: contain;
        content: " ";
        line-height: 1;
    }
    
    input:checked + & {
        background-color: $secondary;
        
        &:before {
            background-image: url("../images/icons/check-white.svg");
        }
    }
}

.dropped-out {
    position: relative;
        
    * {
        opacity: .55;
    }
}

.dropped-out-ribbon {
    background-color: $info;
    color: white;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
  width: 4em;
  height: 4em;
}

.ribbon-wrapper {
  position: absolute;
  overflow: hidden;
  width: 4em;
  height: 4em;  
  opacity: 1;
  
  * {
      opacity: 1;
  }
}

.ribbon {
    position: relative;
    top: 1em;
    left: -1.5em;
    padding: .125em 0;
    width: 8em;
    background-color: $info;
    color: white;
    text-align: center;
    transform: rotate(45deg);
    opacity: 1 !important;

    &:before, &:after {
      position:absolute;
      bottom: -.125em;
      content: "";
    }
    
    &:before {
      left: 0;
    }
    
    &:after {
      right: 0;
    }
}

