.checkbox-list {
    
    input[type="checkbox"] {
        position: absolute;
        left: -999em;
    }
}

.checkbox {
    cursor: pointer;
    
    &:before {
        position: relative;
        top: .125em;
        display: inline-block;
        margin-right: .3em;
        width: 1em;
        height: 1em;
        background-image: url("../images/icons/check_box_outline_blank.svg");
        background-size: contain;
        content: "";
    }
    
    input:checked + & {
        &:before {
            background-image: url("../images/icons/check_box.svg");
        }
    }
}

.candidate-label {
    $check-height: 2rem;
    
    position: relative;
    display: block;
    float: left;
    margin-right: spacer(.5);
    height:  $check-height;
    border-radius: .25em;
    padding:  0 spacer(.25);
    overflow: auto;
    cursor: pointer;
    background-color: lighten($info, 25%);
    
    .candidate-image {
        height:  $check-height;
        width:  $check-height;
        position: relative;
        right: -.25em;
    }

     &:before {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin: 0 spacer(.25) spacer(.5);
        line-height: 1;
        background-image: url("../images/icons/check_box_outline_blank.svg");
        background-size: contain;
        content: " ";
        z-index: 10;
    }

    
    input:checked + & {
        background-color: $secondary;
        
        &:before {
            background-image: url("../images/icons/check-white.svg");
        }
    }
}