aside {
    position: relative;
    overflow: hidden;
    width: 16em;
    padding: 0  0  0 spacer(1);
    //width: 33%;
    flex: none;
    background-color: white;
    transition: all .6s linear;
    height: calc(100vh - #{$height});
    border-right: 1px solid $info;

    @include media($mobile) {
        position: absolute;
        z-index: 99999;
        max-width: 100%;
        width: 80%;
        height: calc(100vh - #{$height} + 3rem);
        left: -150%;
    }

    .scroll-area {
        position: relative;
        height: calc(100% - #{$height-offset});        
        
        //&:last-of-type {
            //height: calc(40% - #{$height-offset});    
        //}
    }
    
    h2 {
        padding: spacer(.5) 0 spacer(.5);
        margin: 0;
        font-size: 2rem;
    }
}

.menu-button {
    display: none;
    height: 2.5em;
    padding: 0 .5em;
    margin-bottom: 0;
    position: relative;
    top: -1em;
        
    @include media($mobile) {
        display: inline-block;
    }
}

.checkbox-toggle {
    position: absolute;
    left: -999em;
}

.checkbox-toggle:checked ~ .main-content aside {
    left: 0;
}