@import "bourbon", "neat";
@import "../../global/sass/reset";
@import "../../global/sass/utility";
@import "../../global/sass/variables";
@import "../../global/sass/footer-sticky";
@import "../../global/sass/typography";

@import 'iscroll';

$height: 7rem;
$height-offset: $height - 2rem;
$small: new-breakpoint(max-width 950px 12);
$phone: new-breakpoint(max-width 600px 12);

@import 'menu-button';
@import 'sidebar';

.chart {
    margin-bottom: spacer(1);
    width: 100%;
    height: 24em;
}

header {
    @include media($mobile) {
        padding: spacer(1) spacer(.5);
        height: 4rem;
    }
    padding: spacer(1);
    height: 4rem;
    border-bottom: 1px solid $info;
    background-color: white;
    
    h1 {

        @include media($mobile) {
            display: inline-block;
            font-size: 1.25rem;
        }
        margin: 0;
        font-size: 2rem;
        
        &:before {
            margin-right: .3em;
            color: $alert;
            content: "\2605";
        }
    }
}

.main-content {
    display: flex;
    width: 100%;
    background-color: white;
}

.main-scroll-area {
    position: relative;        
    padding: spacer(1);
    flex: 1 1 auto;    

    @include media($mobile) {
        height: 100vh;
    }    
}

main {
    position: relative;
    
    h2 {
        @include media($mobile) {
            font-size: 1.5rem;
        }    
    }
    
    &.alone {
        height: inherit;
    }
}

section {

    @include media($mobile) {
        padding: 0 spacer(.5);
    }
    padding: 0 spacer(1);
    
    p {
        font-size: .875rem;
        line-height: 1.25;
    }
    
    &:first-child {
        margin-top: spacer(1);
    }
 
    &:last-of-type {
        margin-bottom: spacer(2);
    }
    
    & + & {
        //margin: 0
    }
}


.candidate-list {
    margin-bottom: spacer(1.5);

    li {
        overflow: auto;
        padding: spacer(.75) spacer(1);
        cursor: pointer;
        position: relative;
        border-bottom: 1px solid lighten($info, 25%);
        
        &:last-child {
            border-bottom: 0;
        }
    }
    
    @include media($mobile) {
        margin-bottom: spacer(6);
    }
}

.candidate-image {
    border-radius: 0px .25em .25em 0px;
}

.candidate-name {
    overflow: auto;
    font-size: 1rem;
    line-height: 1.15;
}

.candidate-site {
    font-size: .875rem;
    line-height: 1.25;
}

.party {
    display: inline-block;
    font-size: .75rem;
    
    &.dem {
        color: darken($secondary, 30%);
        
        &:before {
            content: "\2605 \0020 Democrat";
        }
    }

    &.gop {
        color: darken($alert, 30%);
        
        &:before {
            content: "\2605 \0020 Republican";
        }
    }
}

.issue-list {
    li {
        margin-bottom: spacer(.5);
        font-size: 1em;
    }
}


footer {
    border-top: 1px solid $info;
    background-color: white;
}

.chart {
    @include media($mobile) {
        //display: none;
    }
}

@import 'selected-candidates';
@import 'checkboxes';

.c3 svg {
    font-size: .75em;
    font-family: $font-stack-sans-serif;
}

.chart-buttons {
    margin: spacer(1) 0;
    text-align: center;

    li {
        display: inline-block;
        
        &:not(:last-child) {
            margin-right: spacer(1);

            @include media($mobile) {
                margin-right: spacer(.25);
                margin-bottom: spacer(.5);             
            }
        }
    }

    button {
        @include media($mobile) {
            font-size: .875rem;            
        }
    }
}

button {
    padding: spacer(.25) spacer(.5);
    border: 1px solid $secondary;
    border-radius: .15em;
    background-color: white;
    color: $secondary;
    font-size: 1.25em;
    line-height: 1.25;
    cursor: pointer;
    
    &:hover {
        background-color: lighten($secondary, 35%);
    }
    
    &.is-selected {
        background-color: $secondary;
        color: white;
    }
}

.back-link {
    display: inline-block;
    margin-bottom: spacer(1.5);
}

.list-bullets {
    margin: spacer(1) 0;
    padding-left: 2em;
    list-style: disc;
    font-size: .875rem;
    line-height: 1.25;
}

p + h5 {
    margin-top: spacer(1);
}

.about-link { 
    display: block;
    font-size: 1.5em;
    margin-bottom: spacer(.5);
    
    @include media($mobile) {
        font-size: 1.2rem;
    }
} 